<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<form th:method="post" th:action="@{/admin/add_user}" th:object="${user}">
    <p>
        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name"/>
    </p>
    <p>
        <label for="surname">Фамилия:</label>
        <input type="text" th:field="*{surname}" id="surname"/>
    </p>
    <p>
        <label for="age">Возраст:</label>
        <input type="text" th:field="*{age}" id="age"/>
    </p>
    <p>
        <label for="email">Email:</label>
        <input type="text" th:field="*{email}" id="email"/>
    </p>

    <p>
        <label for="pass">Пароль:</label>
        <input type="text" th:field="*{pass}" id="pass"/>
    </p>

    <p>
        <label for="enabled">Enabled:</label>
        <input type="checkbox" th:field="*{enabled}" id="enabled"/>
    </p>
    <p>Roles: </p>
    <th:block th:each="role: ${listRoles}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role}"/>
    </th:block>
    </div>

    <input type="submit" value="Создать"/>
</form>
<h4><a href="/logout">Log out</a></h4>

</body>
</html>